/* Presets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: red;
}

/* Utilities */

.text-white{
    color: white;
}


.container{
    background-color: #B91450;
    width: 0 auto;
    height: 600px;
}


#calcolate{
    display: flex;
    flex-direction: column;
}

#your-ticket-result{
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}
